/* Image elements */
body {
  --same-0p8: rgba(255,255,255, 0.8);
  --same-0p3: rgba(255,255,255, 0.3);
  --same-0p1: rgba(255,255,255, 0.1);
  --oppo-0p1: rgba(  0,  0,  0, 0.1);
  --same-0p0: rgba(255,255,255, 0.0);
  --oppo: black;
  --same: white;
}
body.xtnDarkOverlay {
  --same-0p8: rgba(  0,  0,  0, 0.8);
  --same-0p3: rgba(  0,  0,  0, 0.3);
  --same-0p1: rgba(  0,  0,  0, 0.1);
  --oppo-0p1: rgba(255,255,255, 0.1);
  --same-0p0: rgba(  0,  0,  0, 0.0);
  --oppo: white;
  --same: black;
}

#xtnImgHolder, #xtnImg, #xtnImgFade {
  position: fixed;
  width: 100%;
  height: 100%;
}

#xtnImg {
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

#xtnImgFade {
  background-color: var(--same-0p3);
}

#xtnBtn {
  width: 40px;
  height: 40px;
  margin-right: 4px;
}
#xtnBtn:hover {
  background: rgba(0,0,0,0.03);
  border-radius: 20px;
}


/* Existing color modifications */

#gb,
#gb > div,
.v83gc,
.OCQPo,
.tNDBE,
.yHbHub,
.JE11kf,
.GENA3c,
.YvjgZe.F262Ye:after,
.xWId8e,
.a0xMze  {
  background-color: var(--same-0p1) !important;
}

.SU7tYb.F262Ye,
.yEkOpe.F262Ye,
.ecKr0,
.ef2wWc,
.AOL3Kb,
.ZFr60d,
.Cd9hpd,
.akJTWe,
.XnnJrc.Wyo4Qe .TKMrfe{
  background-color: var(--same-0p3)  !important;
}

.Xro3Db-nUpftc > div {
  background-color: transparent !important;
}
.Xro3Db-nUpftc > div[role="menu"] {
  background-color: white !important;
}

.NkK3Fc,
.NkK3Fc svg,
.rpCPrc > div,
.MSZkRb,
.zRt28b,
.uQ1ixe .snByac,
.NI2kfb,
.nxPHec,
.MSZkRb,
.rSoRzd,
.wWdzec,
.snByac  {
  color: var(--oppo) !important;
}

.pCoqfc,
.MANBAf,
.akJTWe,
.wy3aMe,
.SoBqBf,
.OmwDud,
.pqE3fc .wy3aMe {
  color: var(--same) !important;
}

.Xro3Db-nUpftc.ymbhmd,
.MDfQ7,
.wWdzec,
.Gk2izd {
  background-color: var(--same-0p8) !important;
}

.Gk2izd .pCoqfc {
  color: var(--oppo) !important;
}

/* Event resize grab handles. */
.leOeGd {
  border-width: 8px;
  border-style: solid;
  border-image: linear-gradient(to top, var(--same-0p3), var(--same-0p0) 6%) 1;
}

/* Weird that these got disabled... */
.SU7tYb,
.yEkOpe:last-child {
  border-right: #dadce0 1px solid !important;
}
/* ugh... ew. */
.MVMVEe {
  border-right-width: 0px !important;
}
.XnnJrc.Wyo4Qe .TKMrfe {
  top: 0 !important;
  border-top-left-radius: 0px !important;
  border-top-right-radius: 0px !important;
}

/* Day picker */

.HkPXyb {
  background-color: var(--same-0p3) !important;
}

.W0m3G .r4nke {
  width: auto !important;
  background-color: transparent !important;
  border-radius: 0 !important;
}
.W0m3G .r4nke:hover {
  background-color: var(--oppo-0p1) !important;
}

/* Includes the new sidebar. */
.gboEAb {
  background-color: var(--same-0p3) !important;
}
