/* Image elements */
body {
  --same-0p0: rgba(255,255,255, 0.0);
  --same-0p1: rgba(255,255,255, 0.1);
  --same-0p3: rgba(255,255,255, 0.3);
  --same-0p5: rgba(255,255,255, 0.5);
  --same-0p8: rgba(255,255,255, 0.8);
  --oppo-0p0: rgba(  0,  0,  0, 0.0);
  --oppo-0p1: rgba(  0,  0,  0, 0.1);
  --oppo-0p3: rgba(  0,  0,  0, 0.3);
  --oppo-0p5: rgba(  0,  0,  0, 0.5);
  --oppo-0p8: rgba(  0,  0,  0, 0.8);
  --oppo: black;
  --same: white;

  --heading-text: var(--oppo-0p8);
  --regular-text: var(--oppo-0p5);
  --popup-text: #3c4043;

  --button-fg: var(--oppo-0p8);
  --button-bg: var(--oppo-0p1);

  --minical-background: var(--same-0p1);
  --minical-hover: var(--oppo-0p1);

  --settings-header-text: var(--oppo-0p8);
  --settings-regular-text: var(--oppo-0p5);
}
body.xtnDarkOverlay {
  --same-0p0: rgba(  0,  0,  0, 0.0);
  --same-0p1: rgba(  0,  0,  0, 0.1);
  --same-0p3: rgba(  0,  0,  0, 0.3);
  --same-0p5: rgba(  0,  0,  0, 0.5);
  --same-0p8: rgba(  0,  0,  0, 0.8);
  --oppo-0p0: rgba(255,255,255, 0.0);
  --oppo-0p1: rgba(255,255,255, 0.1);
  --oppo-0p3: rgba(255,255,255, 0.3);
  --oppo-0p5: rgba(255,255,255, 0.5);
  --oppo-0p8: rgba(255,255,255, 0.8);
  --oppo: white;
  --same: black;

}

#xtnImgHolder, #xtnImg, #xtnImgFade {
  height: 100%;
  width: 100%;
  position: absolute;
  right: 0;
  top: 0;
}

#xtnImg {
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

#xtnImgFade {
  background-color: var(--same-0p3);
}

#xtnBtn {
  width: 40px;
  height: 40px;
  margin-right: 4px;
  border-radius: 20px;
  background-color: var(--button-bg) !important;
}

/* Existing color modifications */

/* Titles! */
.gb_Vc .gb_Xd,
.gb_Tc.gb_Uc,
.gb_0c .gb_2d,
.NkK3Fc span[role=heading] {
  color: var(--oppo-0p8) !important;
}

.gb_na svg,
.gb_zc svg,
.gb_Vc .gb_Xd,
.gb_Lc .gb_Xd,
#gb#gb a.gb_A {
  color: inherit !important;
}



/* grid borders: */
.YvjgZe {
  border-right-color: var(--oppo-0p1) !important;
}
.mmsF1c::after {
  border-bottom-color: var(--oppo-0p1) !important;
}
/* Weird that these got disabled... */
.SU7tYb,
.yEkOpe:last-child {
  border-right: var(--oppo-0p1) 1px solid !important;
}
/* ugh... ew. */
.MVMVEe {
  border-left-color: var(--oppo-0p1) !important;
  border-right-width: 0px !important;
}

.yEkOpe, .CIFHgc {
  border-right-color: var(--oppo-0p1) !important;
}
.XnnJrc.Wyo4Qe .TKMrfe {
  top: 0 !important;
  border-top-left-radius: 0px !important;
  border-top-right-radius: 0px !important;
}

/* Other: */

#gb,
#gb > div,
.v83gc,
.OCQPo,
.tNDBE,
.yHbHub,
.JE11kf,
.GENA3c,
.YvjgZe.F262Ye:after,
.xWId8e,
.a0xMze  {
  background-color: var(--same-0p1) !important;
}


.SU7tYb.F262Ye,
.yEkOpe.F262Ye,
.ecKr0,
.ef2wWc,
.AOL3Kb,
.ZFr60d,
.Cd9hpd,
.akJTWe,
.Zlotdb,
.XnnJrc.Wyo4Qe .TKMrfe {
  background-color: var(--same-0p1)  !important;
}

.Xro3Db-nUpftc > div {
  background-color: transparent !important;
}
.Xro3Db-nUpftc > div[role="menu"] {
  background-color: white !important;
}

.NkK3Fc,
.rpCPrc > div,
.MSZkRb,
.zRt28b,
.uQ1ixe .snByac,
.Kyuwuc .snByac,
.nxPHec,
.MSZkRb,
.rSoRzd,
.wWdzec,
.XXcuqd,
.MANBAf,
.GENA3c,
.Vrr33d,
.hGcgEd
{
  color: var(--oppo) !important;
}

.U26fgb.I12f0b .snByac {
  color: var(--heading-text) !important;
}

/* Popups */
.BoZa0b,
.RDlrG,
.I7OXgf,
.gHQcAb,
.XvhY1d,
.jefcFd {
  color: var(--popup-text) !important;
  --heading-text: var(--popup-text);
  --button-fg: rgba(  0,  0,  0, 0.8);
  --button-bg: transparent;
  --regular-text: rgba(  0,  0,  0, 0.8);
  --minical-hover: rgba(  0,  0,  0, 0.1);
}

.BoZa0b .kMp0We,
.RDlrG .kMp0We,
.I7OXgf .kMp0We,
.gHQcAb .kMp0We,
.XvhY1d .kMp0We,
.jefcFd .kMp0We,
.XvhY1d .kMp0We {
  color: var(--popup-text) !important;
}
.PnGFPb .kMp0We {
  color: #222 !important;
}


/* Event edit page: */

.j3nyw .DyOaYd {
  /* Unfortunately, .DyOaYd is below .j3nyw */
  color: rgba(  0,  0,  0, 0.8) !important;
}


/* ... */


.DN1TJ {
  color: var(--regular-text) !important;
}

.NI2kfb {
  color: inherit !important;
}
.BoZa0b .kMp0We,
.jefcFd .kMp0We,
.FzsTU .kMp0We,
.BoZa0b .DN1TJ,
.pdqVLc .DN1TJ,
.FzsTU .DN1TJ {
  color: inherit !important;
}

.pCoqfc,
.akJTWe,
.wy3aMe,
.SoBqBf,
.OmwDud,
.pqE3fc .wy3aMe {
  color: var(--same) !important;
}

.Xro3Db-nUpftc.ymbhmd,
.wWdzec,
.Gk2izd {
  background-color: var(--same-0p8) !important;
}


.Gk2izd .pCoqfc {
  color: var(--oppo) !important;
}

/* Event resize grab handles. */
.leOeGd {
  background-size: 100%;
  background-image: linear-gradient(to top, var(--same-0p3), var(--same-0p0));
}

/* Day picker */
.RDlrG {
  --minical-background: rgba(0,0,0,0.1) !important;
}

.HkPXyb {
  background-color: var(--minical-background) !important;
}

.W0m3G .r4nke {
  width: auto !important;
  background-color: transparent !important;
  border-radius: 0 !important;
}
.W0m3G .r4nke:hover,
.lR3h6d .CIy9F {
  background-color: var(--minical-hover) !important;
}

.iMprOe,
.HkPXyb .SoBqBf {
  color: var(--oppo-0p8) !important;
}

.iMprOe,
.HkPXyb .SoBqBf {
  color: var(--regular-text) !important;
}

.TUH0Sd .r4nke {
  background-color: #1a73e8 !important;
  color: #fff !important;
  border-radius: 50% !important;
}

.r4nke {
  color: var(--heading-text) !important;
}



/* Includes the new sidebar. */
.gboEAb {
  background-color: var(--same-0p3) !important;
}

/* Buttons */
.HLI7qf {
  background-color: transparent !important;
}
.U26fgb {
  background-color: var(--button-bg) !important;
  box-sizing: border-box;
}

.U26fgb .snByac {
  color: var(--button-fg) !important;
}

.U26fgb.qmMNRc,
.U26fgb:hover.qmMNRc {
  color: rgba(  0,  0,  0, 0.5) !important;
}

/* Month chips: */
.g3dbUc.smECzc {
  color: var(--oppo-0p8) !important;
}
.g3dbUc.smECzc:hover {
  color: rgba(  0,  0,  0, 0.8) !important;
}

/* Agenda view: */
.dtaVuc {
  color: var(--oppo-0p8) !important;
}

/* Left Sidebar (also fixes clockwise): */
.QQYuzf {
  background-color: var(--same-0p1) !important;
}
.YO50ue {
  background-color: var(--same-0p1) !important;
}
/* World clop section */
.Az5uJd.RLj2u {
  background-color: var(--same-0p3) !important;
}

/* Settings: */
.MDfQ7 {
  background-color: var(--same-0p3) !important;
  color: var(--settings-regular-text) !important;
  padding-bottom: 8px !important; /* ew */
}
.MDfQ7 h2 {
  color: var(--settings-header-text) !important;
}
.MDfQ7 .oj6B2e {
  color: var(--oppo) !important;
}
.MDfQ7 .U26fgb {
  --button-bg: #f1f3f4 !important;
  --button-fg: #222 !important;
  background-color: transparent !important;
  box-sizing: content-box !important;
}
.MDfQ7 .HLI7qf {
  background-color: #f1f3f4 !important;
}
.MDfQ7 .OspAke,
.MDfQ7 .Ccr7Rb,
.MDfQ7 .WpDZC,
.MDfQ7 .aXw0de,
.MDfQ7 .bsCOTd,
.MDfQ7 .LV4Pme {
  /* Why are these all set manually? :( */
  color: inherit !important;
}
.MDfQ7 .Kb2sf,
.MDfQ7 .Qfwgwb {
  color: #222 !important;
}
.MDfQ7 .Kb2sf.n48mwe {
  color: var(--settings-header-text) !important; /* uneditable. */
}


/* Settings side tabs */
.cAYGed.KKjvXb .Ioup7e, .cAYGed.KKjvXb .BMQm1d {
  background-color: var(--oppo-0p3) !important;
  color: var(--same-0p8) !important;
}
.kMp0We.Wm6kRe.huVZvb:hover, .GrxScd .SWigMc.Wm6kRe.huVZvb:focus, .kMp0We.gk6SMd.huVZvb {
  background-color: var(--oppo-0p1) !important;
}


.jBmls {
  color: var(--popup-text) !important;
  --heading-text: var(--popup-text);
}

/* Event popup */

/* title */
.PSmyRb.CCDcoc .zHQkBf {
  color: var(--heading-text) !important;
}

/* Side buttons */
.tzcF6 {
  --button-fg: var(--oppo-0p5);
  --button-bg: var(--same-0p5);
}



/* Buttons */
.DyOaYd .U26fgb,
.U26fgb:hover,
#xtnBtn:hover {
  --button-fg: rgba(  0,  0,  0, 0.8);
  --button-bg: #f1f3f4;
}

.mr0WL,
.NMm5M,
.U26fgb .NlWrkb.snByac,
.d6McF .NMm5M,
div.rF3YF .NMm5M,
div.rF3YF .Ce1Y1c,
.uSx8Od,
.fKz7Od,
#xtnBtn
{
  color: var(--button-fg) !important;
  fill: var(--button-fg) !important;
}

/* Button text above pictures on events. */
.fEQAz {
  --button-fg: white !important;
  --button-bg: rgba(255,255,255, 0.1) !important;
}

/* Button text on toolbars */
div[role="toolbar"] .U26fgb {
  --button-fg: rgba(0,0,0,0.3) !important;
  --button-bg: transparent !important;
}
div[role="toolbar"] .U26fgb:hover {
  --button-bg: rgba(0,0,0,0.1) !important;
}
div[role="toolbar"] .PqAscf {
  border-left-color: rgba(0,0,0,0.1) !important;
}

/* full-page edit, make the color pick button look hovered always: */
.Cv8pif .U26fgb,
.Cv8pif .U26fgb:hover {
  --button-fg: rgba(0,0,0,0.8) !important;
  --button-bg: rgba(255,255,255,0.8) !important;
}

.TgcD5e.CCDcoc .zHQkBf {
  color: var(--oppo-0p8) !important;
}

/* TODO: BURN THIS OVERRIDE */
.kMp0We {
  color: var(--oppo-0p8) !important;
}

.IAQE3d {
  color: var(--regular-text) !important;
}
.j3nyw {
  color: var(--regular-text) !important;
}

.ThdJC,
.nWBDde,
.r5F2ye .VZhFab,
.rhtYVe .snByac
{
  color: var(--heading-text) !important;
}

/* "X more" when events overflow */
.g3dbUc.KCIIIb {
  color: var(--oppo-0p8) !important;
}
.g3dbUc.KCIIIb:hover {
  color: var(--same-0p8) !important;
  background-color:  var(--oppo-0p8) !important;
}


/* Weird gradient lines at top of sections */
.J2aUD.T8M5bd .sx5BGe::before, .SGFqbe.T8M5bd .sx5BGe::before {
  background-image: linear-gradient(to right,var(--same-0p1),rgba(255,255,255,0)) !important;
}
.J2aUD.T8M5bd .qmFsL::after, .SGFqbe.T8M5bd .qmFsL::after {
  background-image: linear-gradient(to left,var(--same-0p1),rgba(255,255,255,0)) !important;
}
.hEtGGf::after {
  background-image: none !important;
}

/* Bin */
.pljXM {
  background-color: transparent !important;
}
.pljXM h1,
.pljXM h2 {
  color: var(--heading-text) !important;
}
.pljXM .LOewLb.KKjvXb {
  color: rgba(  0,  0,  0, 0.8) !important;
}
.NekIXe {
  background-color: var(--same-0p1) !important;
}
.NekIXe .fKz7Od {
  --button-fg: rgba(0,0,0,0.8) !important;
}
