/* Image elements */

#xtnImgHolder, #xtnImg, #xtnImgFade {
  position: absolute;
  width: 100%;
  height: 100%;
}

#xtnImg {
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-position: center;;
  background-size: cover;
}

#xtnImgFade {
  background-color: rgba(255, 255, 255, 0.3);
}

#xtnBtn {
  bottom: 96px;
}

#xtnBtnContent {
  background-color: rgba(0,0,0,0.5);
  display:flex;
  align-items: center;
  justify-content: center;
}

#xtnBtnContent:before {
  content: 'image';
}

/* Existing color modifications */

#gb > div,
.AOL3Kb,
.JE11kf,
.GENA3c,
.YvjgZe.F262Ye:after  {
  background-color: rgba(255,255,255,0.1) !important;
}

.Xro3Db-nUpftc > div {
  background-color: transparent !important;
}

.rpCPrc > div,
.MSZkRb,
.zRt28b,
.uQ1ixe .snByac,
.NI2kfb {
  color: black !important;
}

/* Event-page */
.Xro3Db-nUpftc.ymbhmd {
  background-color: rgba(255,255,255,0.8) !important;
}

/* Day picker */

.HkPXyb {
  background-color: rgba(255,255,255,0.3) !important;
}
.W0m3G .r4nke {
  width: auto !important;
  background-color: transparent !important;
  border-radius: 0 !important;
}
.W0m3G .r4nke:hover {
  background-color: rgba(0,0,0,0.1) !important;
}
